/******************
global
******************/
body{
  background-color: #f2f2f2;
  color: #979797;
  font-family: 'Open Sans Condensed', sans-serif;
}
#wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
a{
  text-decoration: none;
  color: #6ab47b;
}



/******************
Section
******************/
section{
  width: 375px;
  margin-left: 5%;
  float: left;
}
section img{
  width: 100%;
}


/******************
typography
******************/
#logo{
  text-align: left;
  margin: 0;
  float: left;
}

header{
  background: #5300DE;
  border-color: #15127A;
  float: left;
  padding: 5px 0 0 0;
  width: 100%;
}
.header-content{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
h1, h2, h3{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  line-height: 0.8em;
}

h1{
  font-size: 1.75em;
  margin: 15px 0;
}

h2{
  margin: -5px 0 0;
  font-size: .95em;
  font-style: italic;
  color: #ccffff;
}

h3{
  margin: 2em 0 1em 0;
}

#headline{
  color: #15127A;
  font-size: 1.5em;
  margin-top: 50px;
}
.text p{
  width: 85%;
}
.copy::first-letter{
  font-size: 170%;
  font-weight: 700;
}
.ref a{
  font-style: italic;
  color: #ccc;
}



/******************
article
******************/
article{
  background-color: #FF7522;
  padding: 4%;
  font-size: 13px;
  color: #fff;
  border-top: 3px solid #FF3B05;
  margin-top: -5px;
}
article h3{
  font-size: 1.6em;
  margin: 0;
}
article p{
  width: 100%;
}
article ul{
  margin: 1em;
}
article li{
  list-style-image: url('../img/bicycle-icon.png');
  padding-bottom: 8px;
}


/******************
map
******************/
.map{
  background-color: #5300DE;
  border-radius: 30px;
  padding: 15px;
  margin: 2em 4%;
  text-align: center;
}
.map h3{
  color: #fff;
  margin: 0 0 3%;
}
.map > div{
  margin: 0 auto;
  border-radius: 6px;
  border: #15127A 8px solid;
}


/******************
timeline
******************/
#timeline{
  clear: both;
  overflow: scroll;
  position: relative;
}
#timeline img{
  height: 100%;
  max-height: 250px;
}


/******************
footer
******************/
footer{
  clear: both;
  font-size: .75em;
  text-align: center;
  padding-top: 50px;
}
footer .social-icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}